@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: Roboto, sans-serif;
    color: white;
}
p:first-of-type{
    margin: 10px;
}
p{
    background-color: #354BF7;
    padding: 10px;
}
h1{
    padding: 10px;
    background-color: #C70039;
    background-color: #354BF7;
}
h2{
    background-color: #C70039;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
a{
    background-color: #C70039;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}
li{
    background-color: #354BF7;
    list-style-type: none;
    margin-right: 45px;
}
span{
    background-color: white;
    color: #354BF7;
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
}
section{
    margin: auto;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
article:first-of-type{
    background-color: #354BF7;
    line-height: 30px;
    border-radius: 25px 25px 0px 0px;
    padding: 25px;
}
a:hover{
    background-color: white;
    color: #C70039;
    border-radius: 5px;
    border: 2px #C70039 solid;
}
main>div:first-of-type{
    margin: 35px;
    background: #C70039; 
    width: 150px;
    height: 120px;
    position: relative;
}
div>div:nth-child(1){
    background: #354BF7;
    height: 90px;
    width: 100px;
    position: absolute;
    top: -15px;
    left: -7px;
}